/*Neo Brutalism pricing card*/
.card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
    padding: 1rem;
    border-radius: 1rem;
    border: .5vmin solid #05060f;
    box-shadow: .4rem .4rem #05060f;

    overflow: hidden;
    overflow-y: auto;

    transition: all 0.2s ease-in-out;
}

.card:hover{
    transform: scale(1.05);
    background-image: linear-gradient(to right top, #58305d, #673462, #773965, #863e68, #95436a);
}

.card-selected {
    background-image: linear-gradient(to right top, #58305d, #673462, #773965, #863e68, #95436a);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
    padding: 1rem;
    border-radius: 1rem;
    border: .5vmin solid #05060f;
    box-shadow: .4rem .4rem #05060f;

    overflow: hidden;
    overflow-y: auto;
    
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}


.card-pending {
    background-image: linear-gradient(to right top, #58305d, #673462, #773965, #863e68, #95436a);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
    padding: 1rem;
    border-radius: 1rem;
    border: .5vmin solid #05060f;
    box-shadow: .4rem .4rem #05060f;

    overflow: hidden;
    overflow-y: auto;

    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}
  
/*Card content*/
.card-phrase {
    color: #05060f;
    flex-direction: column;
    gap: 2rem;
}

.card-title {
    color: #fff;
    flex-direction: column;
    gap: .5rem;
}
