.focus-card-container {
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;

    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.focus-card-phrase {
    font-weight: bolder;
}

.focus-card-title{
    color: white;
}

